################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DistributedNumberGeneration/.vs/DistributedNumberGeneration
/DistributedNumberGeneration/x64/Debug
/.RData
/.Rhistory
